* { margin: 0; padding: 0 }
a { text-decoration: none; color: $linkColour }

@font-face {
    font-family: "Averta";
    src: url("~@/assets/fonts/averta/AvertaDemo-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans";
    src: url("~@/assets/fonts/museosans/MuseoSans_500.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Slab";
    src: url("~@/assets/fonts/museoslab/Museo_Slab_500.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Museo Sans', 'Averta', Avenir, Calibri, sans-serif;
    background-color: white;
    font-size: 16px;
    color: $titleColour;
    font-weight: 300;
}

h1,h2,h3,h4, h5 { margin: 0 }
h1 { font-size: 3em }
h2 { font-size: 2.4em }
h3 { font-size: 2em }
h4 { font-size: 1.5em }
h5 { font-size: 1.1em }

.bold { font-weight: bold }
.primary { color: $brand-primary }
.elevated { box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2) }
.w-100 { width: 100px }
.w-150 { width: 150px }
.w-200 { width: 200px }
.w-250 { width: 250px }
.w-300 { width: 300px }
.fw-300 { font-weight: 300 }
.fw-500 { font-weight: 500 }
.fw-600 { font-weight: 600 }
.pointer { cursor: pointer }
.text-right { text-align: right }
.capitalize { text-transform: capitalize }

.btn-teal { background-color: $brand-teal; color: white }
.btn-dark { background-color: $brand-dark; color: white }
.btn-wise { background-color: $brand-wise; color: white }
.btn-blue { background-color: $brand-presumi; color: white }
.btn-secondary { background-color: $brand-secondary; color: white }
.btn-grey { background-color: #e4e9f2; color: $formColor }
.btn-greyer { background-color: $brand-greyer; color: white }
.btn:focus { outline: none }
.btn, .btn-md {
    border-radius: 3px;
    padding: 6px 20px;
    cursor: pointer;
}

.btn-default {
    border: 2px solid $brand-primary;

    &:hover,
    &:focus {
        background-color: $brand-wise;
        border: 2px solid $brand-wise-dark;
        color: white;
    }
}

.btn-teal {
    &:hover, &:focus {
        color: white;
    }
}

.btn-lg {
    border-radius: 3px;
    font-size: 16px;

    &:hover,
    &:focus { color: white }
    i { font-size: 1.2em; margin-right: 5px }
}

.rounded { border-radius: 500px }

.pagination-lg {
    > li {
        &:last-child {
            > a,
            > span {
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

        &:first-child {
            > a,
            > span {
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
            }
        }
    }
}


#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    color: $fontColour;
}
