._main-footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #e4e9f2;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #333;
    left: $sidebar-width;
    margin-left: -$sidebar-width;
    padding-left: $sidebar-width;
}
