#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: $sidebar-width;
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 1px 0 15px 8px rgba(30, 107, 174, 0.1);
}

#wrapper.toggled {
    #sidebar-wrapper {
        width: $sidebar-width;
    }
    #page-content-wrapper {
        position: absolute;
        margin-right: -$sidebar-width;
    }
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 20px;
    font-family: 'Museo Sans', Averta, sans-serif;

    &.bottom {
        bottom:0;
    }

    > li {
        a {
            padding: 11px 0;
            display: block;
            text-decoration: none;
            color: $brand-teal;
            font-size: 15px;
            text-transform: capitalize;
            font-weight: 500;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;

            i {
                margin-right: 15px;
                font-size: 20px;
                color: $brand-primary;
            }

            span {
                float: right;
            }

            &:hover {
                text-decoration: none;
                background: #fafafa;
            }
            &:active,
            &.router-link-active,
            &:focus {
                text-decoration: none;
                color: white;
                background: $brand-primary;
                i { color: white }
            }
        }

        &.brand {
            font-family: Averta, Avenir, sans-serif;

            a {
                font-size: 18px;
                color: $brand-primary;
                font-weight: 600;
            }
        }

        &.location {
            font-size: 13px;
            color: $brand-secondary;
            display: block;
            text-decoration: none;
            text-transform: capitalize;
            font-weight: 500;
            padding-left: 20px;
            margin-top: -8px;
            width: 100%;
            @include ellipsis;
        }


        /**
         * Dropdown
         */
        > .sidebar-dropdown {
            position: relative;
            float: none;
            background: #eee;
            display: none;
            padding-bottom: 10px;

            > li {
                line-height: 16px;

                > a {
                    padding: 8px 0;
                    padding-left:60px;
                    font-size: 13px;
                }
            }
        }
        &.dropdown {
            .ion-chevron-down { display: inline-block }
            .ion-chevron-up { display: none; }

            &.open, &.active {
                .sidebar-dropdown {
                    display: block;
                }

                .ion-chevron-down { display: none }
                .ion-chevron-up { display: inline-block; }
            }
        }


        &.active {
            a {
                color: $brand-presumi;
            }
        }
    }
}


.secondary-sidebar {
    width: 100%;

    li {
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        color: $brand-primary;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: bold;

        &.active {
            color: $brand-grey;
            cursor: no-drop;
        }

        i {
            padding-right: 20px;
            font-size: 20px;
        }
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: $sidebar-width;
        &.toggled {
            padding-left: 0;
        }
    }
    #sidebar-wrapper {
        width: $sidebar-width;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
